<div class="featured-publication" data-featured-publication data-baseurl="{{ .Site.BaseURL }}">
  <div class="featured-header">
    <div class="featured-kicker">Latest Paper</div>
    <div class="featured-updated" data-featured-updated>Updated --</div>
  </div>
  <div class="featured-body">
    <div class="featured-title" data-featured-title>Loading latest publication...</div>
    <div class="featured-abstract" data-featured-abstract></div>
    <div class="featured-meta" data-featured-meta></div>
  </div>
  <a class="featured-link" data-featured-link href="#">Read more</a>
</div>
<script src="/js/featured_publication.js" defer></script>
